<app-header [user]="currentUser"></app-header>
<section *ngIf="dataLoaded" class="section about-section gray-bg mb-5" id="about">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-1">
                <button class="btn btn-big" routerLink="/user/profile">⚙️</button>
            </div>
        </div>
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">About me</h3>
                    <hr>
                    <h6 class="theme-color lead">{{userProfile.username}}</h6>
                    <p>{{userProfile.description}}</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Name</label>
                                <p>{{userProfile.name}}</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>{{userProfile.address}}</p>
                            </div>
                            <div class="media">
                                <label>Country</label>
                                <p>{{userProfile.country}}</p>
                            </div>
                            <div *ngIf="isMusician" class="media">
                                <label>Integrants</label>
                                <p>{{userProfile.integrants}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p><a href="mailto:{{userProfile.email}}">{{userProfile.email}}</a></p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>{{userProfile.phone}}</p>
                            </div>
                            <div *ngIf="isMusician" class="media">
                                <label>Related genres</label>
                                <p>
                                    <span *ngFor="let genre of userProfile.musicalGenres" class="badge bg-secondary
                                    text-white mx-1">
                                        {{genre.name}}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-avatar d-flex justify-content-center mx-5">
                    <img src="{{userProfile.image}}" alt="user_image">
                </div>
            </div>
            <div *ngIf="isMusician" class="counter">
                <div class="row mt-5">
                    <div class="col-6 col-rg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2">{{chosenInPosts}}</h6>
                            <p class="m-0px font-w-600">Selected in posts</p>
                        </div>
                    </div>
                    <div class="col-6 col-rg-3">
                        <div class="count-data text-center">
                            <h6 class="count h2">{{suscribedToPosts}}</h6>
                            <p class="m-0px font-w-600">Total suscriptions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isMusician" class="counter">
                <div class="row mt-5">
                    <div class="d-flex justify-content-center">
                        <div class="count-data text-center">
                            <h6 class="count h2">{{suscribedToPosts}}</h6>
                            <p class="m-0px font-w-600">Created posts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div *ngIf="isMusician">
    <div *ngIf="workExperiences.length > 0" class="d-flex justify-content-start mx-5 mt-4">
        <div class="ml-5">
            <h4>
                <strong>Experiences</strong>
                <div *ngIf="isProfileOwner">
                    <button class="btn btn-plus text-center" data-bs-toggle="modal"
                        data-bs-target="#workExperienceModal">+</button>
                </div>
            </h4>

        </div>
        <app-work-experience-modal></app-work-experience-modal>
    </div>
    <hr>
    <section *ngIf="dataLoaded && workExperiences.length == 0 && isProfileOwner">
        <div class="d-flex justify-content-center align-items-center ">
            <div class="col-sm-3 mt-3 mb-3 mx-5">
                <div class=" p-1">
                    <h4 class="mx-2"><strong>Something feels off...</strong></h4>
                    <p class="text-center">You don't have any work experience yet. You can create a few past work
                        experiences to improve your possibilities to be chosen in a job offer.</p>
                </div>
            </div>
            <div class="col-sm-3 mx-5">
                <button class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#workExperienceModal">Create
                    a new work experience</button>
            </div>
            <app-work-experience-modal></app-work-experience-modal>
        </div>
    </section>
    <section *ngIf="dataLoaded">
        <div *ngIf="workExperiences.length > 0" class="card-group d-flex justify-content-center mx-5 mb-4 mt-2">

            <div *ngFor="let experience of workExperiences" class="column col-lg-5">
                <app-work-experience-card [isOwner]="isProfileOwner"
                    [workExperience]="experience"></app-work-experience-card>
            </div>
        </div>
    </section>
</div>