<app-header [user]="currentUser"></app-header>
<div class="profile">
    <div style="min-height:90vh;">
        <div id="app">
            <main class="py-4">
                <div class="row justify-content-center">
                    <div class="col-lg-10 pt-2">
                        <div class="mt-1 mb-4">
                            <h3>Create a new job offer</h3>
                        </div>
                        <div class="card py-4 mb-5 mt-md-3 bg-white rounded "
                            style="box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)">
                            <form>
                                <div class="form-group px-3">
                                    <label for="title" class="col-12 text-left pl-0"></label>
                                    <input type="text" [(ngModel)]="title" class="col-md-8 form-control" name="title"
                                        id="title" name="title" placeholder="Title">

                                    <label for="subtitle" class="col-12 text-left pl-0"></label>
                                    <input type="text" [(ngModel)]="subtitle" class="col-md-8 form-control"
                                        id="subtitle" name="subtitle" placeholder="Subtitle">

                                    <label for="description" class="pt-3 col-12 text-left pl-0">
                                    </label>
                                    <textarea class="form-control" placeholder="Body of the post" [(ngModel)]="body"
                                        id="body" name="body" rows="20"></textarea>

                                    <label for="title" class="col-12 text-left pl-0"></label>
                                    <input type="text" [(ngModel)]="image" class="col-md-8 form-control" name="image"
                                        id="image" placeholder="Post image URL">

                                    <div class="locationInfo">
                                        <div class="mt-4">
                                            <ng-select [(ngModel)]="countryData" name="countryData"
                                                (change)="onSelectCountry()" id="country">
                                                <ng-option value="" disabled selected>Choose a country</ng-option>
                                                <ng-option *ngFor="let country of countries"
                                                    [value]="country.iso2 + ',' + country.name">
                                                    {{ country.name }}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                        <div *ngIf="regionsLoaded" class="mt-4">
                                            <ng-select [(ngModel)]="regionData" name="regionData"
                                                (change)="onSelectRegion()" id="region">
                                                <ng-option value="" disabled selected>Choose a region</ng-option>
                                                <ng-option *ngFor="let region of regions"
                                                    [value]="selectedCountryCode + ',' + region.iso2 + ',' + region.name">
                                                    {{ region.name }}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                        <div *ngIf="citiesLoaded" class="mt-4">
                                            <ng-select [(ngModel)]="selectedCity" name="selectedCity" id="selectedCity">
                                                <ng-option value="" disabled selected>Choose a city</ng-option>
                                                <ng-option *ngFor="let city of cities" [value]="city.name">{{ city.name
                                                    }}</ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                    <div *ngIf="availableMusicGenres.length > 0" class="d-flex">
                                        <div class="col-md-2 mt-5 d-flex align-items-center justify-content-center">
                                            <p class="text-center text-muted">Choose some genres that match with your
                                                post</p>
                                        </div>
                                        <div class="mt-5 col-md-5">
                                            <ng-select [(ngModel)]="selectedGenres" id="genreSelector" [multiple]="true"
                                                name="selectedGenres" placeholder="Search genres">
                                                <ng-option *ngFor="let genre of availableMusicGenres"
                                                    [value]="genre.name">{{genre.name}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div *ngIf="errorMessage">
                                <p class="text-danger text-center">{{errorMessage}}</p>
                            </div>
                            <button class="mt-3 mx-5 btn btn-primary btn-block" (click)="createPost()">Create
                                post</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <app-footer-small></app-footer-small>
    </div>
</div>