<app-header [user]="currentUser"></app-header>
<br><br><br>
<div class="profile">
    <div style="min-height:90vh;">
        <div id="app">
            <main class="py-4">
                <div class="row justify-content-center">
                    <div class="col-lg-10 pt-2">
                        <h4><strong>Edit your post</strong></h4>
                        <div class="card py-4 mb-5 mt-md-3 bg-white rounded "
                            style="box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)">
                            <form>
                                <div class="form-group px-3">
                                    <label for="title" class="col-12 text-left pl-0"></label>
                                    <input type="text" [(ngModel)]="title" class="col-md-8 form-control" name="title"
                                        id="title" name="title" placeholder="Title">

                                    <label for="subtitle" class="col-12 text-left pl-0"></label>
                                    <input type="text" [(ngModel)]="subtitle" class="col-md-8 form-control"
                                        id="subtitle" name="subtitle" placeholder="Subtitle">

                                    <label for="description" class="pt-3 col-12 text-left pl-0">
                                    </label>
                                    <textarea class="form-control" placeholder="Body of the post" [(ngModel)]="body"
                                        id="body" name="body" rows="20"></textarea>

                                    <label for="title" class="col-12 text-left pl-0"></label>
                                    <input type="text" [(ngModel)]="image" class="col-md-8 form-control" name="image"
                                        id="image" placeholder="Post image URL">

                                    <div class="locationInfo">
                                        <label for="country" class="form-label"></label>
                                        <select [(ngModel)]="countryData" name="countryData"
                                            (change)="onSelectCountry()" class=" form-select" id="country">
                                            <option value="">Choose a country</option>
                                            <option [value]="country.code + ',' + country.name"
                                                *ngFor="let country of countries">
                                                {{country.name}}</option>
                                        </select>
                                        <div *ngIf="regionsLoaded">
                                            <label for="region" class="form-label"></label>
                                            <select [(ngModel)]="regionData" name="regionData"
                                                (change)="onSelectRegion()" class="form-select" id="region">
                                                <option value="">Choose a region</option>
                                                <option
                                                    [value]="region.countryCode + ',' + region.isoCode + ',' + region.name"
                                                    *ngFor="let region of regions">
                                                    {{region.name}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="citiesLoaded">
                                            <label for="region" class="form-label"></label>
                                            <select [(ngModel)]="city" name="city" class="form-select" id="city">
                                                <option value="">Choose a city</option>
                                                <option value="{{city.name}}" *ngFor="let city of cities">
                                                    {{city.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div *ngIf="availableMusicGenres.length > 0" class="d-flex">
                                        <div class="col-md-2 mt-3 d-flex align-items-center justify-content-center">
                                            <p class="text-center">Choose some genres that match with your post</p>
                                        </div>
                                        <div class="input_field select_option mt-3 col-md-5">
                                            <select multiple (click)="selectGenre($event)" class="form-select"
                                                id="selectedGenres">
                                                <option *ngFor="let genre of availableMusicGenres"
                                                    value="{{genre.name}}" class="text-center">
                                                    {{genre.name}}</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div id="genresSelected" *ngIf="selectedGenres.length > 0" class="mt-3">
                                        <p>Selected genres</p>
                                        <ul class="list-group">
                                            <li *ngFor="let selectedGenre of selectedGenres" class="list-group-item">
                                                {{selectedGenre}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <p *ngIf="message" class="text-success">
                                    <strong>{{message}}</strong>
                                </p>
                                <p *ngIf="errorMessage" class="text-danger">
                                    <strong>{{errorMessage}}</strong>
                                </p>

                            </div>

                            <button class="mt-3 mx-5 btn btn-primary btn-block" (click)="editPost()">Edit
                                post</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <footer id="sticky-footer" class="flex-shrink-0 py-4 text-dark-50">
            <div class="container text-center">
                <small>Find 'n Rock</small>
            </div>
        </footer>
    </div>
</div>