<app-header [user]="currentUser"></app-header>
<div *ngIf="!loadedData">
    <app-spinner></app-spinner>
</div>
<div *ngIf="loadedData">
    <div class="custom-container">
        <div class="row mx-5 mb-5">
            <ng-container *ngIf="suscriptions.length > 0; else noSuscriptions">
                <h4 class="mb-3"><strong>Suscriptions of post</strong></h4>
                <div *ngFor="let suscriber of suscriptions">
                    <app-group-card (unselectCandidateEvent)="removeCandidate($event)"
                        (selectCandidateEvent)="addSelectedCandidate($event)" [suscriber]="suscriber"></app-group-card>
                </div>
            </ng-container>
            <ng-template #noSuscriptions>
                <div class="column d-flex justify-content-center">
                    <div class="col-md-3">
                        <div class="text-center">
                            <h4 class="center fw-bold">You don't have any suscribers to your post yet</h4>

                            <img class="img-fluid" src="{{noSuscriptionsImg}}">
                        </div>
                    </div>

                </div>
            </ng-template>
        </div>
        <div *ngIf="selectedCandidates.length > 0"
            class="footer animate__animated animate__slideInUp bg-dark text-white fixed-bottom text-center p-3">
            <div class="row">
                <div class="col-lg-2">
                    {{selectedCandidates.length}} candidate/s selected
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">
                        Choose candidates
                    </button>
                </div>
            </div>
        </div>
        <app-confirm-modal (confirmEvent)="chooseCandidates()" [buttonText]="'Choose candidates'"
            [bodyText]="'All the chosen candidates will be notified via email and therefore, this post archived. Are you sure?'"></app-confirm-modal>
    </div>
</div>