.custom-container {
    margin-left: 3%;
    margin-right: 3%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.small-image {
    max-width: 40%;
    max-height: 40%;
}

.smallest-image {
    max-width: 35%;
    max-height: 35%;
}
