<section class="form-with-background">
  <div class="custom-container px-5">
    <div class="px-4 py-5 text-center text-lg-start">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            Access to the music world in <br />
            <span class="text-primary">Find 'n Rock</span>
          </h1>
          <p class="subtext">
            Join to thousands of artists, bands and music lovers in the best music working portal, and if you are an
            entrepreneur, you can find the best talent for your business.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form>
                <div class="form-outline mb-4">
                  <input type="text" [ngClass]="{ 'is-invalid' : invalidInput }" [(ngModel)]="username" id="username"
                    name="username" class="form-control" placeholder="Username" />
                </div>

                <div class="form-outline mb-4">
                  <input [ngClass]="{ 'is-invalid' : invalidInput }" [(ngModel)]="password" name="password"
                    type="password" id="password" placeholder="Password" class="form-control" />
                </div>

                <span class="text-danger">{{errorMessage}}</span>

                <div class="mt-5">
                  <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block">
                    Log in
                  </button>
                  <button routerLink="/signup" type="submit" class="btn btn-secondary btn-block mx-3">
                    Sign up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>