<header class="bg-dark">
  <img src="https://mohamedelghandour.github.io/windows-10/img/codepen1600.png" routerLink="/home">
  <div id="burgermenu" (click)="onToggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav id="menu">
    <ul>
      <h4>{{username}}</h4>
      <img src="{{userimage}}">
      <li><a routerLink="/user/profile">My profile</a></li>
      <div *ngIf="isGroup">
        <li><a routerLink="/user/posts/suscribed">Suscribed posts</a></li>
      </div>
      <div *ngIf="isEntrepreneur">
        <li><a routerLink="/posts/create">Create new post</a></li>
        <li><a routerLink="/user/posts">My posts</a></li>
      </div>
      <li><a (click)="onLogout()">Log out</a></li>
    </ul>
  </nav>
</header>