<header class="bg-dark">
  <div class="svg-wrapper">
    <app-logo></app-logo>
  </div>
  <div id="burgermenu" (click)="onToggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav id="menu">
    <ul>
      <h4>{{username}}</h4>
      <img src="{{userimage}}">
      <li><a routerLink="/user/profile">My profile</a></li>
      <div *ngIf="isGroup">
        <li><a routerLink="/user/posts/suscribed">Suscribed posts</a></li>
      </div>
      <div *ngIf="isEntrepreneur">
        <li><a routerLink="/posts/create">Create new post</a></li>
        <li><a routerLink="/user/posts">My posts</a></li>
      </div>
      <div class="mt-2">
        <li>
          <a class="text-center text-danger h5" (click)="onLogout()" routerLink="/login">Log out</a>
        </li>
      </div>
    </ul>
  </nav>
</header>