<header>
  <img src="https://mohamedelghandour.github.io/windows-10/img/codepen1600.png" routerLink="/home">
  <div id="burgermenu" (click)="onToggleMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div id="menu">
    <ul>
      <h4>{{username}}</h4>
      <img src="{{userimage}}">
      <div *ngIf="isGroup">
        <li><a href="#">Suscribed posts</a></li>
      </div>
      <div *ngIf="isEntrepreneur">
        <li><a href="#">Create new post</a></li>
        <li><a href="#">My posts</a></li>
      </div>
      <li><a (click)="onLogout()">Log out</a></li>
    </ul>
  </div>
</header>