<app-header [user]="currentUser"></app-header>
<div *ngIf="!loadedData">
    <app-spinner></app-spinner>
</div>
<div *ngIf="loadedData">
    <div class="custom-container">
        <div class="row mx-5">
            <select [(ngModel)]="mode" name="mode" class="form-select w-25 float-start mb-5" id="mode"
                (change)="onChangeMode()">
                <option value="created">Created posts</option>
                <option value="inactive">Old posts</option>
            </select>

            <div *ngIf="mode == 'created'">
                <ng-container *ngIf="posts.length > 0; else noPostsFound">
                    <div *ngFor="let post of posts">
                        <app-post-owner (deletePostEvent)="deletePost($event)" [post]="post"></app-post-owner>
                    </div>
                </ng-container>
            </div>

            <div *ngIf="mode == 'inactive'">
                <ng-container *ngIf="posts.length > 0; else noOldPostsFound">
                    <div *ngFor="let post of posts">
                        <app-post-owner [post]="post"></app-post-owner>
                    </div>
                </ng-container>
            </div>
            <ng-template #noPostsFound>
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <h4 class="center fw-bold">You don't have any active post</h4>
                    <img class="center small-image mt-5" src="{{ postsNotFoundImage }}">
                </div>

            </ng-template>
            <ng-template #noOldPostsFound>
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <h4 class="center fw-bold">You don't have any old posts</h4>
                    <img class="center small-image mt-2" src="{{ postsNotFoundImage }}">
                </div>
            </ng-template>
        </div>
    </div>
</div>