<footer class="bg-dark text-center text-white sticky-footer mt-5">
    <div class="container p-4 mt-5">
        <section class="mb-4 mt-5">
            <small>
                Find n Rock is a web application that allows you to find the best bands in the world for your events.
                Whether you're organizing a concert, a corporate party, or any other type of event, Find n Rock helps
                you discover and connect with top-notch bands that will make your event unforgettable. With a vast
                database of talented musicians from various genres and styles, you can easily browse through profiles
                and make informed decisions. Finding the perfect band for your event has never been easier with Find n
                Rock. Get ready to rock the stage!
            </small>
        </section>

    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <section class="mb-1">
            <a class="btn btn-outline-light btn-floating mx-3" href="https://github.com/PeterBFoo">Github</a>

            <a class="btn btn-outline-light btn-floating mx-3" href="mailto:findnrock@gmail.com?">Contact
                us</a>

            <a class="btn btn-outline-light btn-floating mx-3"
                href="https://www.linkedin.com/in/pere-antoni-borràs-expósito-8880a7183/">LinkedIn</a>
        </section>
    </div>
</footer>