#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

#content {
    position: relative;
    z-index: 1;
    color: #fff;
}

.header {
    --color-background: #ffffff;
    --color-inverse: #ffffff;
    color: var(--color-default);
    padding: 5px;
    position: fixed;
    top: 0;
    letter-spacing: 3px;
}

a {
    color: white;
    text-decoration: underline 0.15em rgb(255, 255, 255);
    text-underline-offset: 1em;
    transition: text-decoration-color 200ms, text-underline-offset 200ms;
}

a:hover {
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 0.1em;
}

.getStarted {
    color: white;
    text-decoration: underline 0.15em rgb(255, 255, 255);
    text-underline-offset: 0.1em;
    transition: text-decoration-color 200ms, text-underline-offset 200ms;
}

.getStarted:hover {
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 0.3em;
}

h2 {
    letter-spacing: 3px;
}
