<app-spinner *ngIf="!renderedVideo"></app-spinner>
<section *ngIf="renderedVideo">
    <video id="video-background" preload="metadata" src=" {{landingVideo}}" autoplay loop muted></video>
    <header id="header" class="header position-relative d-flex align-items-center scroll-up-sticky">
        <div class="container-fluid d-flex justify-content-end">
            <h4 class="mt-2">
                <a routerLink="/home">Find n Rock</a>
            </h4>
        </div>
    </header>

    <br><br><br><br>
    <div id="content">
        <section id="hero" class="hero">
            <div class="container mt-5">
                <div class="column justify-content-center mt-5">
                    <div class="col-lg-6 mt-5">
                        <h2>
                            <strong>
                                Find 'n Rock
                            </strong>
                        </h2>
                        <div class="mt-3">
                            <h4>
                                The place where you can choose the best rock band for your events, and for musicians
                                to
                                find the best gigs.
                            </h4>
                        </div>
                        <div class="mt-5">
                            <h6>
                                <a class="getStarted" routerLink="/login">Get started</a>
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5">
                        <div class="row justify-content-center">
                            <div class="col-sm-5">
                                <app-logo></app-logo>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>