<div *ngIf="!dataloaded">
    <app-spinner></app-spinner>
</div>
<section *ngIf="dataloaded" class="h-100 form-with-background">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="card-body p-md-5 text-black">
                            <h3 class="text-uppercase">Sign up</h3>
                            <hr>
                            <div class="form-outline mb-4">
                                <h5>Are you an artist or an entrepreneur?</h5>
                                <div class="mt-3">
                                    <select (change)="selectRole($event)" class="form-select">
                                        <option>Artist / Music group</option>
                                        <option>Entrepreneur</option>
                                    </select>
                                </div>
                            </div>
                            <form id="signupForm" class="mt-4">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="username" name="username" placeholder="User name"
                                                [(ngModel)]="username" required class="form-control " />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input id="password" type="password" name="password" placeholder="Password"
                                                [(ngModel)]="password" required class="form-control " />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <input id="name" type="text" name="name" placeholder="Your full name"
                                            [(ngModel)]="name" required class="form-control" />
                                    </div>

                                    <div class="col-md-6 mb-4">
                                        <input id="email" type="email" name="email" placeholder="E-mail address"
                                            [(ngModel)]="email" required class="form-control" />
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="address" name="address" [(ngModel)]="address"
                                        placeholder="Address" required class="form-control " />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" id="image" name="image" placeholder="Paste any link to an image"
                                        [(ngModel)]="image" required class="form-control " />
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" id="phoneNumber" name="phoneNumber"
                                                placeholder="Phone number" [(ngModel)]="phoneNumber" required
                                                class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <ng-select id="country" [items]="availableCountries" bindLabel="name"
                                                bindValue="name" [(ngModel)]="country" name="country" required
                                                placeholder="Select your country">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <textarea type="text" id="description" name="description"
                                        placeholder="Add a little description of yourself" [(ngModel)]="description"
                                        class="form-control" rows="4"></textarea>
                                </div>

                                <div *ngIf="musicGroup">
                                    <div class="form-outline mb-4">
                                        <input id="integrants" type="number" name="integrants"
                                            placeholder="Integrants of the band" [(ngModel)]="integrants"
                                            class="form-control" />
                                    </div>

                                    <div class="form-outline mb-2">
                                        <h6>Choose up to five genres that suit you the most!</h6>

                                        <ng-select [multiple]="true" [(ngModel)]="musicGenres" id="genreSelector"
                                            name="musicGenres" placeholder="Search genres">
                                            <ng-option *ngFor="let genre of availableMusicGenres"
                                                [value]="genre.name">{{genre.name}}
                                            </ng-option>
                                        </ng-select>
                                    </div>

                                </div>
                                <div class="d-flex justify-content-center pt-3">
                                    <p class="text-danger">{{errorMessage}}</p>
                                </div>
                                <div class="d-flex justify-content-center pt-3">
                                    <button type="button" (click)="resetForm()" class="btn btn-light mx-2">Reset
                                        all</button>
                                    <button type="button" class="btn btn-primary mx-3" (click)="register()">Submit
                                        form</button>
                                </div>
                                <div>
                                    <p class="text-center mt-5 mb-3 text-muted">Already have an account? <a
                                            routerLink="/login">Login</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>