@import "~@ng-select/ng-select/themes/material.theme.css";

.form-with-background {
  background-image: url("https://source.unsplash.com/random/1920x1080/?rock%20music");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
