<div class="col-md-3">
    <form>
        <div class="mb-3">
            <h5 class="fw-bold">Filters</h5>
        </div>
        <div *ngIf="genresLoaded">
            <div class="mb-3">
                <label for="genreSelector" class="form-label">Genre</label>
                <ng-select [(ngModel)]="selectedGenre" id="genreSelector" name="selectedGenre"
                    placeholder="Search genres">
                    <ng-option value="" disabled selected>Choose a genre</ng-option>
                    <ng-option *ngFor="let genre of genres" [value]="genre.name">{{genre.name}}
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div *ngIf="dataLoaded">
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <ng-select [(ngModel)]="countryData" name="countryData" (change)="onSelectCountry()" id="country">
                    <ng-option value="" disabled selected>Choose a country</ng-option>
                    <ng-option *ngFor="let country of countries" [value]="country.iso2 + ',' + country.name">
                        {{ country.name }}
                    </ng-option>
                </ng-select>

            </div>
            <div *ngIf="regionsLoaded">
                <div class="mb-3">
                    <label for="region" class="form-label">Region</label>
                    <ng-select [(ngModel)]="regionData" name="regionData" (change)="onSelectRegion()" id="region">
                        <ng-option value="" disabled selected>Choose a region</ng-option>
                        <ng-option *ngFor="let region of regions"
                            [value]="selectedCountryCode + ',' + region.iso2 + ',' + region.name">
                            {{ region.name }}
                        </ng-option>
                    </ng-select>

                </div>
            </div>
            <div *ngIf="citiesLoaded">
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <ng-select [(ngModel)]="selectedCity" name="selectedCity" id="city">
                        <ng-option value="" disabled selected>Choose a city</ng-option>
                        <ng-option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="!areFiltersActive()" (click)="searchPosts()"
            class="mb-3 btn btn-primary">Search</button>
        <button *ngIf="areFiltersActive()" type="submit" (click)="removeFilters()" class="btn btn-danger">Remove
            filters</button>

    </form>
</div>